.aboutHeader{
   height:100vh;
    width:100%;
    padding-bottom:3rem;
    overflow:clip;
    background:url(img/about.jpeg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
   background-attachment:fixed;
}

.clip-container{
   min-height:100vh;
   width:100%;
   padding:2rem;
}
.clip1{
   width:60vw;
   margin-inline:auto;
   height:60vh;
   object-fit:cover;
}
.clippath{
   height:100%;
   overflow:clip;
}
.clip-block{
   margin-block:2rem;
   display:flex;
   flex-direction:column;
   gap:3rem;
   text-align:center;
}
.clip-block h1{
   font-size:3rem;
}
.clip2{
   height:50vh;
   width:50vw;
   object-fit:cover;
}
