.aboutHeader{
   height:100vh;
    width:100%;
    padding-bottom:3rem;
    overflow:clip;
    background:url(img/about.jpeg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
   background-attachment:fixed;
}

.clip-container{
   min-height:100vh;
   width:100%;
   padding:2rem;
}
.clip1{
   width:100%;
   margin-inline:auto;
   height:40vh;
   object-fit:cover;
}
.clippath{
   height:100%;
   overflow:clip;
}
.clip-block{
   margin-block:2rem;
   display:flex;
   flex-direction:column;
   gap:3rem;
   text-align:center;
}
.clip-block h1{
   font-size:3rem;
}
.clip2{
   height:30vh;
   width:50vw;
   object-fit:cover;
}

.horizontal-container{
   height:100vh;
   padding:2rem;
} 

.horizontal-scroll{
   width:fit-content;
   display:flex;
   gap:2rem;
}
.h-scroll{
   min-width:100vw;
   position:relative;
}
.h-scroll1,.h-scroll2{
   display:flex;
}
.h-scroll1 img{
   height:30vh;
   width:60vw;
   margin-left:-5rem;
}
.h-scroll h1{
   font-size:70vw;
   line-height:1.1;
   order:-1;
}

.h-scroll2{
   gap:2rem;
   width:50rem;
   align-items:end;
}

