@media (max-width:50rem) {
  .productHeader{
    flex-direction:column;
  }
  .prdHead2{
    order:-1;
  }

.prdHead1{
    border-top-left-radius:3rem;
  border-bottom-right-radius:0rem;
}
  
  .productHeader>*{
    min-height:50dvh;
  }


  .product-block{
    grid-template-columns:repeat(2,1fr);
  }
  .h-scroll1 img{
   height:30vh;
   width:60vw;
  }
  .h-scroll3{
    width:80vw;
  }
}
