@media (max-width:50rem) {


.bottomNavLine{
  height:1px;
}
  
  .marquee h1{
    font-size:25vw;
  }

.footer-bottom .header-content .marquee h1{

margin-inline:3rem;
}
  .contactPage{
    display:flex;
    flex-direction:column;
  }
.topContact h1{
  transfrom:translateY(70%);
  justify-content:center;
  font-size:18vw;
  padding:0;
}
  .bottomContact{
    justify-content:start;
  }
  .productHeader{
    flex-direction:column;
  }
  .prdHead2{
    order:-1;
  }

.prdHead1{
    border-top-left-radius:3rem;
  border-bottom-right-radius:0rem;
}
  
  .productHeader>*{
    min-height:50dvh;
  }


  .product-block{
    grid-template-columns:repeat(2,1fr);
  }
  .h-scroll1 img{
   height:30vh;
   width:60vw;
  }
  .h-scroll3{
    width:80vw;
  }
}
