


.productHeader{
  min-height:50dvh;
  width:100%;
  display:flex;
  background:url(img/aboutwine.jpg);
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
}
.productHeader>*{
  flex:1;
}
.prdHead1{
  
  background:white;
  padding:2rem;
  border-top-right-radius:1.5rem;
  border-bottom-right-radius:1.5rem;
  display:flex;
  align-items:center;
  justify-content:center;
}
.prdH-content{
  max-width:31.25rem;
}
.prdH-content p{
  margin-top:1rem;
}


