


.productHeader{
  min-height:60vh;
  width:100%;
  display:flex;
  background:url(img/aboutwine.jpg);
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
}
.productHeader>*{
  flex:1;
}
.prdHead1{
  background:white;
  padding:2rem;
  border-top-right-radius:3rem;
  border-bottom-right-radius:3rem;
  display:flex;
  justify-content:center;
}
.prdH-content{
  max-width:31.25rem;
}
.prdH-content p{
  margin-top:1rem;
}

.product-block{
  margin-block:3rem;
  padding:1rem;
  display:grid;
  gap:1rem;
  position:relative;
  place-items:center;
  z-index:2;
  background:var(--bg-1);
  grid-template-columns:repeat(3,1fr);
}

.productItem img{
max-width:10rem;
  aspect-ratio:3/4;
  
}
.price{
  margin-block:1rem;
}
.addbutton{
  outline: none;
  background:transparent;
  border:1px solid black;
  padding:.5rem 2rem;
  text-align:center;
  position:relative;
  color:black;
  z-index:1;
}

.addbutton::after{
  content:'';
  position: absolute;
  inset:0;
  z-index:-1;
  background:black;
  width:100%;
  height:100%;
  
  transform:scale(0);
  transform-origin:left;
  transition:all .35s ease-in-out;
}
.addbutton:hover::after{
  transform:scale(1);
  transform-origin:right;
}
.addbutton:hover {
  color:white;
}
